#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include "keys_de.h"

/ {
    macros {
        mac_highlt: mac_highlt {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp LALT>, <&macro_tap &kp DE_H>, <&macro_release &kp LALT>; 
        };
        mac_solo: mac_solo {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp LALT>, <&macro_tap &kp DE_S>, <&macro_release &kp LALT>; 
        };
        mac_freeze: mac_freeze {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp LALT>, <&macro_tap &kp DE_F>, <&macro_release &kp LALT>;
        };
        mac_prvw: mac_prvw {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp LALT>, <&macro_tap &kp DE_P>, <&macro_release &kp LALT>;
        };
        mac_blind: mac_blind {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp LALT>, <&macro_tap &kp DE_B>, <&macro_release &kp LALT>;
        };

        mac_previous: mac_previous {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp LCTRL &kp LALT>, <&macro_tap &kp DE_P>, <&macro_release &kp LCTRL &kp LALT>;
        };
        mac_set: mac_set {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp LCTRL &kp LALT>, <&macro_tap &kp DE_S>, <&macro_release &kp LCTRL &kp LALT>;
        };
        mac_selfix: mac_selfix {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp LCTRL &kp LALT>, <&macro_tap &kp DE_F>, <&macro_release &kp LCTRL &kp LALT>;
        };
        mac_learn: mac_learn {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp LALT>, <&macro_tap &kp DE_L>, <&macro_release &kp LALT>;
        };
        mac_pause: mac_pause {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp LCTRL &kp LALT>, <&macro_tap &kp DE_A>, <&macro_release &kp LCTRL &kp LALT>;
        };
        mac_next: mac_next {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp LALT>, <&macro_tap &kp DE_N>, <&macro_release &kp LALT>;
        };
        mac_up: mac_up {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp LALT>, <&macro_tap &kp UP_ARROW>, <&macro_release &kp LALT>;
        };
        mac_down: mac_down {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp LALT>, <&macro_tap &kp DOWN_ARROW>, <&macro_release &kp LALT>;
        };
        mac_left: mac_left {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp LALT>, <&macro_tap &kp LEFT_ARROW>, <&macro_release &kp LALT>;
        };
        mac_go_minus: mac_go_minus {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp LALT>, <&macro_tap &kp DE_MINUS>, <&macro_release &kp LALT>; 
        };
        mac_xkeys: mac_xkeys {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp LALT>, <&macro_tap &kp DE_X>, <&macro_release &kp LALT>;
        };
        mac_page_plus: mac_page_plus {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp LCTRL &kp LALT>, <&macro_tap &kp DE_PLUS>, <&macro_release &kp LCTRL &kp LALT>;
        };
        mac_page_minus: mac_page_minus {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp LCTRL &kp LALT>, <&macro_tap &kp DE_MINUS>, <&macro_release &kp LCTRL &kp LALT>;
        };
        mac_right: mac_right {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp LALT>, <&macro_tap &kp RIGHT_ARROW>, <&macro_release &kp LALT>;
        };
        mac_go_plus: mac_go_plus {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp LALT>, <&macro_tap &kp DE_PLUS>, <&macro_release &kp LALT>; 
        };

        mac_on: mac_on {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp LALT>, <&macro_tap &kp DE_O>, <&macro_release &kp LALT>;
        };
        mac_move: mac_move {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp LALT>, <&macro_tap &kp DE_M>, <&macro_release &kp LALT>;
        };
        mac_delete: mac_delete {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp LALT>, <&macro_tap &kp DE_D>, <&macro_release &kp LALT>;
        };
        mac_stomp: mac_stomp {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp LALT>, <&macro_tap &kp DE_T>, <&macro_release &kp LALT>;
        };
        mac_select: mac_select {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp LALT>, <&macro_tap &kp DE_Z>, <&macro_release &kp LALT>;
        };
        mac_off: mac_off {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp LCTRL &kp LALT>, <&macro_tap &kp DE_O>, <&macro_release &kp LCTRL &kp LALT>;
        };
        mac_copy: mac_copy {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp LALT>, <&macro_tap &kp DE_C>, <&macro_release &kp LALT>;
        };
        mac_align: mac_align {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp LCTRL &kp LALT>, <&macro_tap &kp DE_L>, <&macro_release &kp LCTRL &kp LALT>;
        };
        mac_help: mac_help {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp LCTRL &kp LALT>, <&macro_tap &kp DE_H>, <&macro_release &kp LCTRL &kp LALT>;
        };
        mac_goto: mac_goto {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp LALT>, <&macro_tap &kp DE_G>, <&macro_release &kp LALT>;
        };

        mac_fixture: mac_fixture {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp LALT>, <&macro_tap &kp DE_N1>, <&macro_release &kp LALT>;
        };
        mac_preset: mac_preset {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp LALT>, <&macro_tap &kp DE_N2>, <&macro_release &kp LALT>;
        };
        mac_edit: mac_edit {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp LALT>, <&macro_tap &kp DE_N3>, <&macro_release &kp LALT>;
        };
        mac_update: mac_update {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp LALT>, <&macro_tap &kp DE_U>, <&macro_release &kp LALT>;
        };
        mac_channel: mac_channel {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp LALT>, <&macro_tap &kp DE_N4>, <&macro_release &kp LALT>;
        };
        mac_sequence: mac_sequence {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp LALT>, <&macro_tap &kp DE_N5>, <&macro_release &kp LALT>;
        };
        mac_assign: mac_assign {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp LALT>, <&macro_tap &kp DE_N6>, <&macro_release &kp LALT>;
        };
        mac_group: mac_group {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp LALT>, <&macro_tap &kp DE_N7>, <&macro_release &kp LALT>;
        };
        mac_cue: mac_cue {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp LALT>, <&macro_tap &kp DE_N8>, <&macro_release &kp LALT>;
        };
        mac_time: mac_time {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp LALT>, <&macro_tap &kp DE_N9>, <&macro_release &kp LALT>;
        };
        mac_store: mac_store {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp LALT>, <&macro_tap &kp DE_M>, <&macro_release &kp LALT>;
        };

        mac_if: mac_if {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp LALT>, <&macro_tap &kp DE_I>, <&macro_release &kp LALT>;
        };
        mac_thru: mac_thru {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp LCTRL &kp LALT>, <&macro_tap &kp DE_T>, <&macro_release &kp LCTRL &kp LALT>;
        };
        mac_at: mac_at {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp LALT>, <&macro_tap &kp DE_A>, <&macro_release &kp LALT>;
        };
        mac_please: mac_please {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp LALT>, <&macro_tap &kp DE_E>, <&macro_release &kp LALT>;
        };

        mac_oops: mac_oops {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp LALT>, <&macro_tap &kp DE_W>, <&macro_release &kp LALT>;
        };
        mac_clear: mac_clear {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp LALT>, <&macro_tap &kp DE_J>, <&macro_release &kp LALT>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "Base";

            bindings = <
                &mac_highlt   &mac_previous &mac_next     &mac_xkeys        &mac_on     &mac_off      &mac_fixture &mac_channel  &none         &mac_group   &kp DE_N7    &kp DE_N8    &kp DE_N9 &kp DE_PLUS  &mac_oops
                &mac_solo     &mac_set      &mac_up       &mac_page_plus    &mac_move   &mac_copy     &mac_preset  &mac_sequence &none         &mac_cue     &kp DE_N4    &kp DE_N5    &kp DE_N6 &mac_thru    &none
                &mac_freeze   &mac_selfix   &mac_down     &mac_page_minus   &mac_delete &mac_assign   &none        &none         &none         &none        &kp DE_N1    &kp DE_N2    &kp DE_N3 &kp DE_MINUS &none
                &mac_prvw     &mac_learn    &mac_left     &mac_right        &mac_stomp  &mac_help     &mac_edit    &mac_assign   &none         &mac_time    &kp DE_N0    &kp DE_DOT   &mac_if   &mac_at      &kp ESC
                &mac_blind    &mac_pause    &mac_go_minus &mac_go_plus      &mac_select &mac_goto     &mac_update  &none         &mac_store    &none        &bootloader  &kp DE_SLASH &none     &mac_please  &mac_clear
            >;
        };
    };
};